zsh/school.zsh
mozilla

onedrive/*
!onedrive/config

git/personal

wallpaper/chill.png

GIMP

tmux/plugins
tmux/resurrect

go

dconf
pulse
libreoffice

pavucontrol.ini

xfce4/xfconf/xfce-perchannel-xml/thunar.xml
redshift.conf

htop

Thunar
retroarch
ibus

fcitx5
fcitx
